Veritabanıödev/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP 1 * FROM OgrenciYollari \nWHERE Durum = 'Bekliyor' \nAND IlgiAlani LIKE '%' + '{{ $node[\"Webhook\"].json[\"body\"][\"Lütfen Öğrenmek İstediğiniz Alanı Seçin\"] }}' + '%';",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "8fbb9329-9006-4c0d-9ffd-9b88775b7247",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "ZBhYh5pyqiSmAH3m",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sen bir teknik mentorsun. Kullanıcı sana seçtiği uzmanlık alanını gönderecek.\n\nKURAL: Eğer kullanıcı Python seçtiyse ona kütüphanelerden (Pandas, NumPy) bahset. Eğer Siber Güvenlik seçtiyse Nmap ve Metasploit odaklı bir plan sun. Eğer Embedded seçtiyse Pixhawk ve Raspberry Pi 5 detaylarına gir.\n\nCevabın yine 2800 karakteri geçmesin ve Markdown formatında olsun\nCevabını verirken mutlaka şu başlıkları kullan: #### 1. Hafta, #### 2. Hafta, #### 3. Hafta\n\nÖğrenci: {{ $node[\"Microsoft SQL\"].json.OgrenciAd }}\nİlgi Alanı: {{ $node[\"Microsoft SQL\"].json.IlgiAlani }}Hedef: {{ $node[\"Microsoft SQL\"].json.Hedef }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "eec7da13-5ded-4774-9031-7358cc5a580e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        224
      ],
      "id": "22bfe14f-2a89-4145-a165-03a9750b8bbf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XwE0irVUQBsOk9Ls",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE OgrenciYollari \nSET Durum = 'Tamamlandı', \n    OgrenmeYolu = '{{ $node[\"AI Agent\"].json[\"output\"].replace(/'/g, \"''\") }}'\nWHERE ID = {{ $node[\"Microsoft SQL\"].json[\"ID\"] }};",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        768,
        0
      ],
      "id": "fe3d58e5-c005-4b7c-b341-320b4f46210d",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "ZBhYh5pyqiSmAH3m",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7637cb3d-a725-4cfa-813a-aba130a0d202",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "a86bbf42-b564-43ac-bcc4-17b9c2cf4a1d",
      "name": "Webhook",
      "webhookId": "7637cb3d-a725-4cfa-813a-aba130a0d202"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $node[\"AI Agent\"].json[\"output\"] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1136,
        0
      ],
      "id": "b951491e-70df-4bb6-8fe2-26eda973e0c0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "ahmet-session-1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "74124d28-f700-4276-9861-ec7f0a9927c0",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ffdc48f3-cedd-4793-9d41-8717957a35ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "222aef2b3d9f8adb55dab077e7a94c14b82e816312e00b22f61b6ab5f2e3c82f"
  },
  "id": "cLAORGXeD9VDFrTF",
  "tags": []
}